* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

#trial {
    background-color: gray;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#banner {
    background: linear-gradient(rgba(0, 0, 0, 0.137), #009688);
    background-size: cover;
    background-position: center;
    height: 100vh;
}



.logo {
    width: 320px;
    height: 140 px;
    position: absolute;
    top: -8%;
    left: 0%;
}

#drop-down-right{
    
    margin-top: 3.7%;
    position: fixed;
}

#drop-down-right:hover{
    color:#f2f2f2;
    background: #009688;
    font-weight: bold;
}



#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.banner-text {
    text-align: center;
    color: white;
    padding-top: 230px;
}

.banner-text h1 {
    font-size: 60px;
    font-family: "Kaushan Script";
    padding: 10px;
}

.banner-text p {
    font-size: 30px;
    font-style: italic;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}

.banner-btn {
    margin: 70px;
}

.banner-btn a {
    width: 220px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: white;
    border: .5px #f2f2f2;
    font-weight: bold;
    letter-spacing:1mm ;
    border-style: solid;
}

.banner-btn a:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
    text-decoration: none !important;
}






#side-nav {
    width: 250px;
    height: 100vh;
    Position: fixed;
    right: -250px;
    top: 0;
    background: #009688;
    z-index: 2;
    transition: 0.5s; 
} 

nav ul li {
    list-style: none;
    margin: 50px 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
} 


#menu-btn {
    width: 50px;
    height: 50px;
    padding-left: 14.5px;
    background: #f2f2f2;
    text-align: center;
    position: fixed;
    right: 70px;
    top: 50px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#menu-btn img {
    width: 20px;
    margin-top: 15px;
}







/* features section */

#features {
    width: 100%;
    padding: 70px 0;
    background-color: whitesmoke;
}

.title-text {
    text-align: center;
    padding-bottom: 70px;
    
}

.title-text-contact{
    color: #efefef !important;
}


.title-text p {
    margin: auto;
    font-size: 30px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
    
}

.title-text p::after {
    content: "";
    width: 50%;
    height: 35px;
    background: linear-gradient(#019587, white);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(5deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.title-text h1 {
    font-size: 50px;
    padding-left: 90px;
    padding-right: 90px;
    
}

.feature-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.features {
    flex-basis: 50%;
}

.features-img {
    flex-basis: 50%;
    margin: auto;
}

.features-img img {
    width: 90%;
    height: 70%;
    border-radius: 10px;
}

.features h1 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
    color: #009688;
}

.features-description {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.feature-icon svg {
    padding: 8px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #009688;
    border: 1px solid #009688;
}

.feature-text p {
    padding: 0 20px;
    text-align: initial;
}



/* SERVICES */


#service {
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}

.service-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.single-service {
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: white;
    position: relative;
}

.single-service:hover .overlay {
    opacity: 1;
}

.single-service img {
    width: 100%;
    border-radius: 7px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #009688);
    opacity: 0;
    transition: 1s;
}

.sevice-description {
    width: 80%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 1s;
}

hr {
    background: white;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}

.sevice-description p {
    font-size: 20px;
    text-decoration: none;
    color: #efefef;
}

.single-service:hover .sevice-description {
    bottom: 40%;
    opacity: 1;
}



/* contact */

#contact {
    width: 100%;
    padding: 70px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #009688);
}

.contact-body {
    width: 100%;
    background-size: cover;
    background-position: top;
    opacity: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background: white;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    border-radius: 10px;
    opacity: 100%;
    /* width: 60%; */
}

form h3 {
    font-size: 20px;
}

form h1 {
    color: #009688;
    font-weight: 800;
    margin-bottom: 20px;
    font-size: 30px;
}

.title-text {
    color: black;
}

form input,
form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;

    background: #e2e1e1;
    font-size: 16px;
    color: black;
    opacity: 100% !important;
}

form label {
    color: black;
    opacity: 100% !important;
    font-weight: 700;
    display: inline-block;
    width: 150px;
    /* adjust the width to your desired size */
    text-align: left;
    margin-right: 10px;


}

form button {
    padding: 15px;
    margin-top: 20px;
    font-size: 18px;
    border: 0;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
    color: white;
    background-color: black !important;
}

form button:hover {
    transform: scale(0.9);
}

.login_user {
    width:auto;
    font-size: large;
    margin-left: 1040px;
    margin-top: 35px;
    border-radius: 6px;
    color: white;
    background-color: #f2f2f2;
    padding: 6px 10px 6px 10px;
    position: absolute !important;


}

.btnn{
    margin-bottom: 10px !important;
}

#logintitle{
    font-size: x-large !important;
   color: black;
}
#signuptitle{
    color: black;
}
.labell{
    margin-left: -170px !important;
}

#signupModal{
   color: #009688;
}

.span2{
    margin-left: -15px !important;

    color:black;
}
span a{
    width: auto;
    background-color:black !important;
    color: white !important;
    border-radius: 10px !important;
    padding: 2px !important;
}
.loginbtn a{
    text-decoration: underline;
    color:black;
}



footer{
    background: #009688;
}