{% extends "master.html" %}

{% block content %}

<style>
  .profile_view{
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    margin-top: 50px;
  }
  #mylabel{
    display: inline;
  }
  </style>
  <h1 class="profile_view">Enter Your Company's Information</h1>
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" value="{{ user_profile.name }}" class="form-control">
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" name="phone" id="phone" value="{{ user_profile.phone }}" class="form-control">
    </div>
    <div class="form-group">
      <label for="company_name">Company Name</label>
      <input type="text" name="company_name" id="company_name" value="{{ user_profile.company_name }}" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" value="{{ user_profile.email }}" class="form-control">
    </div>
    <div class="form-group">
      <label id="mylabel" for="address">Enter Website Category<br> (E.g Shoe, Travel, Blog etc)</label>
      <textarea name="address" id="address" class="form-control">{{ user_profile.address }}</textarea>
    </div>

    {% comment %} <div class="form-group">
      <label for="logo">Logo</label>
      <input type="file" name="logo" id="logo" class="form-control-file">
    </div>
    {% if user_profile.logo %}
      <img src="{{ user_profile.logo.url }}" alt="Company Logo">
    {% endif %} {% endcomment %}
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
{% endblock %}
