{% extends "master.html" %}


{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Choose Template</title>
</head>
<body>
     <!-- -------------- Choosing Template Section ---------------->

     <section id="service">
        <div class="title-text">
            <p>DESIGN IN SECONDS</p>
            <h1>Website templates that set you up for success</h1>
        </div>
        <div class="service-box">
            <div class="single-service">
                <img src="{%static '/images/Service-001.png'%}">
                <div class="overlay"></div>
                <div class="sevice-description">
                    <a href="template1" target="_blank">
                        <h3>Get Started</h3>
                    </a>
                    <a href="template1" target="_blank">Customize this template.</a>
                </div>
            </div>
            <div class="single-service">
                <img src="{% static '/images/page=2.png' %}" alt="My image">
                <div class="overlay"></div>
                <div class="sevice-description">
                  <a  href="template4" target="_blank" ><h3>Get Started</h3>
                  </a>
          
                  <a href="template4" target="_blank" >  <p >Customize this template.</p></a>
                </div>
            </div>
            <div class="single-service">
                <img src="{% static '/images/page=3.png' %}" alt="My image">
                <div class="overlay"></div>
                <div class="sevice-description">
                <a href="template2" target="_blank" > <h3 href="template3">Get Started</h3></a>
                  
                <a href="template2" target="_blank" >   <p href="template3">Customize this template.</p></a>
                </div>
            </div>
            <div class="single-service">
                <img src="{%static '/images/page=4.png'%}">
                <div class="overlay"></div>
                <div class="sevice-description">
                   <a href="template3" target="_blank"> <h3 href="template4">Get Started</h3></a>
                  
                   <a href="template3" target="_blank" > <p href="template4">Customize this template.</p></a>
                </div>
            </div>
        </div>

    </section>


<!-- -------------- Choosing Template Section ---------------->

</body>
</html>
{% endblock content %}
